:root {
	font-family: "Roboto Mono", Menlo, monospace;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4;
  tab-size: 4;
  font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"); /* 4 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

html {
	background-color: #f5f5f5;
	color: #171717;
	font-family: monospace;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	padding: 20px;
	min-width: 100vw;
	min-height: 100vh;
}

p {
	display: block;
	font-size: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

button {
	padding: .5rem 1rem;

	display: inline-flex;
	justify-content: center;
	align-items: center;

	font-size: .875rem;
	line-height: 1.25rem;
	height: 2rem;
	font-family: 'Roboto-mono', monospace;
	border: #171717;
	border-radius: 999px;
	font-size: 1em;
	outline: none;
	cursor: pointer;
	font-weight: 500;
}

button.default {
	background-color: #171717;
	color: #f5f5f5;
}

button.default:hover {
	background-color: #262626;
}

button.outline {
	background-color: #ffffff;
	color: #171717;
	border: 1px solid #e5e5e5;
}

button.outline:hover {
	color: #262626;
	background-color: #fafafa;
}

.link {
	color: inherit;
	text-decoration: underline;
	text-underline-offset: 4px;
}

.link:hover {
	text-decoration-style: wavy;
}

main {
	padding: 20px;
}

.max-w-lg {
	max-width: 680px;
	margin: 0 auto;
}

.max-w-xl {
    max-width: 1080px;
    margin: 0 auto;
}

.avatar {
	border-radius: 9999px;
}

.flex-col {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.text-xl {
	font-size: 1.5rem;
    line-height: 2rem
}
